.ipynb_checkpoints/GPUCheck-checkpoint.ipynb
GPUCheck.ipynb
CODPlayerDetectionDataset/
yolov8n.pt
runs/detect/train/args.yaml
runs/detect/train2/args.yaml
runs/detect/train2/confusion_matrix_normalized.png
runs/detect/train2/confusion_matrix.png
runs/detect/train2/F1_curve.png
runs/detect/train2/labels_correlogram.jpg
runs/detect/train2/labels.jpg
runs/detect/train2/P_curve.png
runs/detect/train2/PR_curve.png
runs/detect/train2/R_curve.png
runs/detect/train2/results.csv
runs/detect/train2/results.png
runs/detect/train2/train_batch0.jpg
runs/detect/train2/train_batch1.jpg
runs/detect/train2/train_batch2.jpg
runs/detect/train2/val_batch0_labels.jpg
runs/detect/train2/val_batch0_pred.jpg
runs/detect/train2/val_batch1_labels.jpg
runs/detect/train2/val_batch1_pred.jpg
runs/detect/train2/val_batch2_labels.jpg
runs/detect/train2/val_batch2_pred.jpg
runs/detect/train2/weights/best.pt
runs/detect/train2/weights/last.pt
